/*
@author: Brenda Madrigal
@ Date: NOVEMBER 20, 2024
LECTURE / WEEK 07
*/ 

/* MAJOR UPDATES HERE 
WE REMOVED CONTENT THAT WAS POINTLESS, CHANGING AND FOCUSING ON HOW THE 
WEB PAGE FLOWS, REMOVING LISTS, TRYING TO ALIGN THINGS TO MY MOCKUP*/

    
* {
        margin:10px auto;
        padding:10px 0;
        box-sizing: border-box;
}

html { 

        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: white;
}    

/* This is my navigation system that I am trying to center and create */

nav {
        display:flex;
        border-top:1px solid black;
        border-bottom:1px solid black;
        text-align: center;
        height: 150px;  
        align-items: center;
}
nav li{ 
        float: left;
        list-style-type: none;
}
   
nav a{ 
        display: block;
        padding: 30px;
        
}
/* Pseudo-class selector (change color when mouse is hovered over) */
a:hover { 
        color: rgb(230, 5, 114);
        font-weight: bolder;
        background-color: #f7cfdc;
    
    }
/* Basic Tag Selector Examples */

body{ 
        width: 1400px;
}

ul { 
        height: 50px;
        width:1080px;      
}


h1 { 
        text-transform: uppercase;
        color: black;
        letter-spacing: .02em;
}
h2 {
        text-transform: capitalize;
}        
h3 {
        color:blue;
        text-decoration: dotted underline blue; 
        font-size: 125%;
}       
/*
nav2 li {
        background-color: bisque;
        list-style: square;
        clear:both;
}
*/
#typeofevent {
        float:left;
        clear:both;

}
.default-image {
        vertical-align: middle;
        overflow: content-box;
        align-content: center;
}

p{ 
        margin:auto;
}
/* Class Selector Examples, on page bouquet.html */

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: 25%;
}

.footercopy { 

        font-style:italic;
        text-align: center;
        background-color: pink;
        border: 10px dotted black;
        border-radius: 50px;
        width:1400px;
        padding:10px;
        margin:5px;
}

/* ID Selector */

#localplaces, 
#flowerpower{
            font-style: italic;
            }   

/* target list  that are inside of dl */


dl li:nth-of-type(odd) {
            background-color: rgba(234, 197, 224, 0.406);
            color: red;
            list-style-type: square;
            font-size: 25px;
 }

dl li:nth-of-type(even) {

            background-color: rgb(230, 173, 204);
            color: hotpink;
            font-size: 25px;
}


/* styles for the footer */

footer {
        margin: 0px 15px 0px 10px;
        padding:0;
}